.Welcome-page{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.Welcome-page div{
    padding: 10px;
}

.Welcome-page img{
 position: absolute;
 top:0;
 left:0;
 width:100%;
 height:100vh;
 object-fit: cover
}

.menu{
  transition: 0.3s ease-in-out;
}

.Project-wrapper{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  padding: 25px;
  height: 100vh;
}
.Project-wrapper_1{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  padding: 25px;
  height: 35vh;
}
/* .Project-wrapper>div::after{
  content: "";
  clear: both;
  display: block;
} */
.Project-wrapper>div{
  padding: 10px;
  overflow: hidden;
}
.Des-Wrapper, .XP{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.Phase-Wrapper, .Labels{
  float: right;
}
/**
Employee Styles
**/
.EmployeCRUD{
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
}
.EmployeCRUD>div:first-child{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}
.EmployeCRUD>div:nth-child(2){
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center;
  align-items: center; */
  padding: 15px;
  justify-content: space-between;
}

.EmployeCRUD>div:nth-child(3){
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center;
  align-items: center; */
  padding: 15px;


}
/* .XP{
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: flex-end;
  padding: 25px;
  height: 20vh;
}
.Labels{

} */

/*
Add formular
*/

.Add-Formular{
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
}
#Upload{
  padding: 20px;
}
#Form{
  padding: 30px;
  /* display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; */
  justify-content: center;
  margin-top: 20px;
  /* background-color: khaki; */
}

/**
Adding a proj
*/
.Add-Proj{
  padding:5vh;
}
.Steps-Container{
  padding: 15px;
  margin-left:15px;
}
.site-form-in-drawer-wrapper {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #e9e9e9;
}